<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anna.ketoapp2" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <receiver android:name=".MyReceiver"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/keto_logo"
        android:label="@string/app_name"
        android:color="@color/textColorPrimary"
        android:supportsRtl="true"
        android:theme="@style/KetoappTheme.Base" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/KetoappTheme.Base"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/title_activity_registration"
            android:theme="@style/Register.Base" >
        </activity>

    </application>

</manifest>
